# Build results
bin/
obj/
out/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider
.idea/

# NuGet
packages/
*.nupkg

# Test results
TestResults/

# OS generated
.DS_Store
Thumbs.db

# Logs
*.log

# User-specific files
*.rsuser
*.snk
